@charset "UTF-8";
/* CSS Document */
footer {
	background-image: url("../img/bg_footer.svg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 20px;
	padding-bottom: 20px;
}
footer .page_top {
	position: fixed;
	right: 0;
	bottom: 64px;
	width: 100px;
	opacity: 0;
	transition: 0.3s;
}
footer .true {
	opacity: 1;
	transition: 0.3s;
}
footer p {
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	font-weight: 700;
	color: #ffffff;
}
@media only screen and (max-width: 620px) {
	footer .page_top {
		width: 60px;
	}
}